
.allcards-container {
}

.search-filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 40px;
}

.search-container {
    width: 40%;
    margin-right: 30px;
}


.cardlist {
    margin: auto;
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;   
    justify-content: center;
    
}