

.cardrow img {   
    height: 260px;
    padding-right: 12px;
    padding: 5px;
    margin-bottom: 2px;
}

.cardrow img:hover {
    transform: scale(1.07);
    transition: all .2s ease-in-out;
    
}